$--colors: (
  'primary': (
    'base': #589ef8,
  ),
);

$--bg-color: (
  'page': '#18191c',
);

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: $--colors,
  $bg-color: $--bg-color
);

// @use 'element-plus/theme-chalk/src/dark/var.scss' as *;

@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
